server {
        listen 80;
        server_name pihole.casa;

        location / {
                proxy_pass http://${CASAOS_IP}:8800/;
        }
}

server {
        listen 80;
        server_name torrent.casa;

        location / {
                proxy_pass http://${CASAOS_IP}:9091/;
        }
}
